*{
    padding: 0;
    margin:0;
}
.backround-header{
    background-color: #68e6c4;
    width: 100%;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    padding:  13px 30px;
    color: white;
}
.header ul{
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 19px;
    font-weight: 700;
    padding-top: 10px;
    animation: slidetop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    
}


.header #btn1{
    padding: 12px 25px;
    border: 2px solid darkslategray ;
    border-radius: 20px;
    font-size: 15px;
    background-color: #68e6c4;
    color: darkslategray;
}
.header #btn1:hover{
    background-color: #0cc594;
    cursor: pointer;
    box-shadow: 0 0 20px white;
}


